doctype html
html(lang="en")
  head
    title= Megaspace
    link(rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cyborg/bootstrap.min.css")
    link(rel="stylesheet" href="components/flexboxgrid/dist/flexboxgrid.min.css")
    link(rel="stylesheet" href="css/style.css")
    script(src="components/angular/angular.min.js")
    script(src="components/angular-cookies/angular-cookies.js")
    script(src="components/jquery/dist/jquery.min.js")
    script(src="components/bootstrap/dist/js/bootstrap.min.js")
    script(src="js/app.min.js")
  body
  
  h1 Game
