[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
tr.disabled {
  color: #444444;
}
.absolute-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.well {
  border-radius: 0;
}
#loginPage {
  background-image: url("/images/login-background.jpg");
  background-color: rgba(0, 0, 0, 0.75);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
#loginBox {
  width: 400px;
}
#loginBox form {
  width: 90%;
  margin-left: 5%;
}
#loginBox label{
  width: 20%;
  float: left;
  padding-right: 15px;
}
#loginBox input{
  width: 80%;
  float: left;
  padding-right: 15px;
}
